@import url("/styles/base.css"); /* Using a url */

/* Custom Semantic CSS */

.navigation {
  display: flex;
}

.navigation .logo {
  height: 50px;
  width: 50px;
}

/* Custom Utility CSS */

.container {
  padding: 0 2rem;
  width: 100%;
  max-width: 72rem;
}
