@import url("/styles/base.css");

:root {
  --color-white: #eee;
  --color-black: #111;
  --color-primary: #ffde3d;
}

/* Custom Default Styles */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Custom Semantic CSS */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navigation .logo {
  height: 50px;
  width: 50px;
}

.navigation-items {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
}

.navigation-items a:hover {
  opacity: 0.5;
}

.main {
  margin-bottom: 5rem;
}

.hero {
  padding-top: 4rem;
  padding-bottom: 4rem;

  background-image: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.9),
      hsla(50, 100%, 62%, 0.5)
    ),
    url("https://images.unsplash.com/photo-1531496730074-83b638c0a7ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}

.hero-lock {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.hero-lock h1 {
  font-size: 3rem;
  font-weight: 700;
  max-width: 500px;
}

.hero-lock h1 .accent {
  color: var(--color-primary);
  background-color: var(--color-black);
}

.hero-lock p {
  line-height: 2rem;
}

.button-cta {
  display: inline-block;
  color: var(--color-black);
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5rem;
  padding: 0.8rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.2s;
}

.button-cta:hover {
  color: var(--color-primary);
  background-color: var(--color-black);
}

.graduate {
  padding-top: 4rem;
}

.graduate h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #333;
  color: var(--color-white);
}

/* Custom Utility CSS */

.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 72rem;
}

@media screen and (min-width: 780px) {
  .button-cta {
    padding: 1rem 2rem;
  }

  .graduate h2 {
    font-size: 2rem;
  }
}
